In [2]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
myvar.columns = ["CAL", "DURA"]

print(myvar)

   CAL  DURA
0  420    50
1  380    40
2  390    45

In [7]:
file = open("example-1.csv")
df_samp = pd.read_csv(file)
df_samp

     Branch       Date  Amount
0  Branch A  January 1   500.0
1  Branch B  January 2   250.0
2  Branch A  January 3   300.0

In [19]:
df_temp = pd.DataFrame({
    "Quantity": [12,22,42]
    })
df_samp=pd.concat([df_samp,df_temp])
df_samp.reset_index(drop=True,inplace=True)
df_samp

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [16]:
import pandas as pd

# Sample DataFrame df_samp
df_samp = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35]
})

# Another DataFrame df_temp
df_temp = pd.DataFrame({
    "Quantity": [12, 22, 42]
})

# Concatenating along columns and resetting index
df_samp = pd.concat([df_samp, df_temp], axis=1)
df_samp.reset_index(drop=True, inplace=True)

# Display the result
print(df_samp)

      Name  Age  Quantity
0    Alice   25        12
1      Bob   30        22
2  Charlie   35        42

In [32]:
import csv
csv_file=open("phoneprices.csv")
df_csv= pd.DataFrame(csv.DictReader(csv_file))
df_csv.iloc[0:3,0:3]

  battery_power blue clock_speed
0           842    0         2.2
1          1021    1         0.5
2           563    1         0.5

In [37]:
row_range=slice(0,3)
col_range=slice(0,2)
df_csv.iloc[row_range,col_range]

  battery_power blue
0           842    0
1          1021    1